<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- TODO user need to change directory-->
    <add key="rootPath" value="F:\Sandbox\20483-Programming-in-C-Sharp\Allfiles\Mod11\Democode\Data\Exceptions"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
